.timeline {
  background: rgb(221, 221, 221);
}

.dateClassName {
  color: black;
  margin-left: -11rem;
  /* left: -10rem; */
  font-weight: bold !important;
}

@media screen and (max-width: 1200px) {
  .dateClassName {
    color: gray;
    margin-left: 0;
  }
}
