.register {
  /* width: 100vw; */
  margin-top: 3rem;
}

.regHeader {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
}

.regLeft {
  flex: 1;
}

.regLeft p:nth-child(1) {
  text-align: left;
  line-height: 2px;
  font-size: 2rem;
  font-weight: 600;
}

.regLeft p:nth-child(2) {
  text-align: justify;
  font-size: 0.8rem;
}

.regLeft a {
  color: black;
  text-decoration: none;
  margin-top: 1.5rem !important;
  transition: 0.2s all ease-in-out;
}

.regLeft a:hover {
  color: var(--btn-bg);
}

.regLeft a p {
  text-align: left;
  font-size: 1rem !important;
}
.regRight {
  flex: 1;
  padding-left: 3rem;
}

.regRight img {
  width: 50%;
}

form {
  padding: 2rem;
}

.form-details {
  padding: 2rem;
}

.questions {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
}

.questions-inner {
  margin-top: 1rem;
  display: flex;
  text-align: justify;
  width: 100%;
  flex-direction: column;
}

.questions-inner textarea {
  border: 2px solid var(--btn-bg);
  /* margin-bottom: 1.5rem; */
  width: 24vw !important;
  border-radius: 7px;
  padding: 7px;
  outline: none;
  height: 35vh;
  font-family: "Poppins";
}

.task {
  margin-top: -2rem;
}

.task-inner {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  text-align: justify;
  width: 100%;
  flex-direction: column;
}

form button {
  padding: 1rem;
  font-size: 1rem;
  width: 15vw;
  box-shadow: 2px 2px 10px var(--btn-bg);
  cursor: pointer;
  font-weight: bold;
  background: var(--btn-bg);
  color: white;
  border: none;
  border-radius: 7px;
  border: 2px solid var(--btn-bg);
  transition: 0.3s all ease-in-out;
}
form button:hover {
  background: none;
  box-shadow: none;
  color: var(--btn-bg);
}

@media screen and (max-width: 700px) {
  .regHeader {
    flex-direction: column;
  }

  .task-inner span {
    width: 80vw;
  }

  .task-inner input {
    width: 170%;
  }
  .questions-inner textarea {
    width: 80vw !important;
  }
  .questions {
    grid-template-columns: auto;
  }

  .task input {
    width: 90%;
  }

  form button {
    width: 100%;
  }
}
